<p id="notice"><%= notice %></p>

<h1>Shops</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>email</th>
      <th>Category</th>
      <th>Name</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= link_to shop.user.email, shop, class: "widelink" %></td>
        <td><%= link_to shop.category.name, shop, class: "widelink" %></td>
        <td><%= link_to shop.name, shop, class: "widelink" %></td>
        <td><%= link_to shop.address, shop, class: "widelink" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shop', new_shop_path, class: "btn btn-primary" %>
