<!DOCTYPE html>
  <head>
    <%= stylesheet_link_tag "shops", :media => "all" %>
  </head>
  <body>
    <div class="shop-flame">
      <div class="container">
        <% @shops.each do |shop| %>
          <%= link_to shop, style: "text-decoration: none;" do %>
          <div class="shop-list">
            <span class="fa fa-utensils"></span>
              <div class="shop-name">
                <%= shop.name %>
              </div>
              <div class="temporary">
                <%= shop.category.name%>/
                <%= shop.address %>
              </div>
              <div class="time">
                <%= l shop.created_at, format: :short %>
              </div>

              <div class="borderline">
              </div>
              <div class="image">
                <%= image_tag shop.image.to_s %>
              </div>
              <div class="content">
                <%= shop.content %>
              </div>
              <div class="icon">
                <object><%= link_to "/users/#{shop.user.id}" do %>
                  <% if shop.user.persisted? && shop.user.avatar? %>
                    <%= image_tag shop.user.avatar.to_s %>
                  <% else %>
                      <%= image_tag "/icon.jpg" %>
                  <% end %>
                <% end %></object>
              </div>
              <div class="name">
                <object><%= link_to shop.user.name, "/users/#{shop.user.id}", :style=>"color: black;" %></object>
              </div>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <br>

    
  </body>
</html>
