

<p>
  <strong>Name:</strong>
  <%= @shop.user.name %>
</p>

<p>
  <strong>Store:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shop.category.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Content:</strong>
  <%= @shop.content %>
</p>

<%= content_tag(:iframe,
 'map',
  src:'https://www.google.com/maps/embed/v1/place?q=@shop.address&key=AIzaSyBpPMiU4cysQDdFRpel020GXSIxvlQfLws',
   width: "100%",
    height: 360,
     frameborder: 0) %>

<br>
<%= link_to 'Back', shops_path, class: "btn btn-default" %>
<% if user_signed_in? && @shop.user_id == current_user.id %>
  <%= link_to 'Edit', edit_shop_path(@shop), class: "btn btn-success" %>
  <%= link_to "削除",@shop, method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-danger"  %>
<% end %>
