<!DOCTYPE html>
<html>
  <head>
    <title>Lunchmap2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>

  <body>
    <!-- Fixed navbar -->
<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container'>
    <div class='navbar-header'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>
      <div class="top-icon">
        <%= link_to root_path, class: "navbar-brand" do %>
          <span class="fa fa-utensils">ぐるリポ</span>
        <% end %>
      </div>
    </div>


      <% if current_user %>
        <p class="navbar-text">ようこそ <%= link_to current_user.name, "/users/#{current_user.id}", style: "color: #9F9F9F;" %> さん。</p>
      <% else %>
          <p class="navbar-text">ようこそ ゲスト さん。</p>
      <% end %>

      <%= link_to 'レポート', new_shop_path, class: "btn btn-warning new-btn" %>

      <div class="nav navbar-nav dropdown nav-btn-r">
        <a href="#" class="dropdown-toggle navbar-brand" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars nav-btn"></span></a>
           <ul class="dropdown-menu dropdown-menu-right">
             <li><%= link_to "お店一覧", shops_path %></li>
             <% if current_user %>
               <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
               <li><%= link_to "アカウント編集", edit_user_registration_path %></li>
               <li><%= link_to "プロフィール", "/users/#{current_user.id}" %></li>
              <% else %>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <li><%= link_to "新規登録", new_user_registration_path %></li>
              <% end %>
            </ul>
        </div>



         <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
      <script>
        $('.dropdown-toggle').dropdown()
      </script>

  </div>
</nav>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
